######################
# API
######################
/memories/api/target

######################
# Node
######################
node_tmp/
node_modules/
npm-cache/
npm-debug.log.*
/.awcache/*
/.cache-loader/*

######################
# Package Files
######################
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
.mvn
mvnw
mvnw.cmd

####################2##
# Gradle
######################
.gradle/
/build/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Logs
######################
*.log*

######################
# ESLint
######################
.eslintcache